body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/portfolio cover 1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  
  .project-header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(213, 204, 25);
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
  }
  
  .project-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: pointer;
  }
  
  .project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  .project-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }
  